In [21]:
import nbsetup
import numpy as np
import pandas as pd
from models.load import load

In [12]:
sim = load("mcmillian2011best_200_2_50_50")

Loaded mcmillian2011best_200_2_50_50

In [31]:
results = sim.results
data = []
for ijk, mass_results in results.items():
    for ijk,
    
pd.DataFrame(data)

    z    y    x
0  20  100  100
1  20  100  150

In [34]:
np.array(list(results.values()))[0][0]

array([[-1.11806658e-06,  1.43321446e-06, -1.54778951e-06],
       [ 1.98256174e+10,  4.85379635e+10,  4.85379635e+10]])

In [42]:
def dataframe(self):
    data = []
    dimensions = ('z','y','x')
    for ijk, result in self.results.items():
        sums = {'component': 'sum'}
        for di, d in enumerate(dimensions):
            sums[d] = ijk[di]
        for mi, mass_res in enumerate(result):
            rr = sums.copy()
            rr['component'] = self.mass_labels[mi] if self.mass_labels is not None else mi
            
            for ci, clabel in enumerate(('vec', 'abs')):
                for di, v in enumerate(mass_res[ci]):
                    key = "%s_%s" % (dimensions[di], clabel)
                    rr[key] = v
                
                    if mi == 0: sums[key] = v
                    else: sums[key] += v
            
            data.append(rr)
        data.append(sums)
    
    return pd.DataFrame(data)

df = dataframe(sim)
df

,component,z,y,x,z_vec,y_vec,x_vec,z_abs,y_abs,x_abs
0,buldge,20,100,100,-1.118067e-06,1.433214e-06,-1.547790e-06,1.982562e+10,4.853796e+10,4.853796e+10
1,thick,20,100,100,3.009122e+03,2.850171e+00,2.850171e+00,4.275048e+09,7.287700e+09,7.287700e+09
2,thin,20,100,100,6.829987e-06,1.475999e+00,1.475997e+00,1.005133e+10,4.471980e+10,4.471980e+10
3,sum,20,100,100,3.009122e+03,4.326172e+00,4.326166e+00,3.415200e+10,1.005455e+11,1.005455e+11
4,buldge,20,100,150,4.234554e-11,-8.165747e-12,2.657011e+08,1.504553e+06,3.409620e+06,2.657011e+08
5,thick,20,100,150,2.895082e+02,2.205092e+00,2.080777e+08,1.240977e+07,4.781876e+07,2.125049e+08
6,thin,20,100,150,5.602457e-07,1.133100e+00,7.298886e+08,9.572995e+06,1.372248e+08,7.390758e+08
7,sum,20,100,150,2.895082e+02,3.338192e+00,1.203667e+09,2.348732e+07,1.884532e+08,1.217282e+09

In [44]:
def augment(self, df):
    c = self.space.center
    df['zd'] = df['z']-c[0]
    df['rd'] = ((df['y']-c[1])**2 + (df['x']-c[2])**2)**0.5
    return df
    
augment(sim, df)

,component,z,y,x,z_vec,y_vec,x_vec,z_abs,y_abs,x_abs,zd,rd
0,buldge,20,100,100,-1.118067e-06,1.433214e-06,-1.547790e-06,1.982562e+10,4.853796e+10,4.853796e+10,0,0.0
1,thick,20,100,100,3.009122e+03,2.850171e+00,2.850171e+00,4.275048e+09,7.287700e+09,7.287700e+09,0,0.0
2,thin,20,100,100,6.829987e-06,1.475999e+00,1.475997e+00,1.005133e+10,4.471980e+10,4.471980e+10,0,0.0
3,sum,20,100,100,3.009122e+03,4.326172e+00,4.326166e+00,3.415200e+10,1.005455e+11,1.005455e+11,0,0.0
4,buldge,20,100,150,4.234554e-11,-8.165747e-12,2.657011e+08,1.504553e+06,3.409620e+06,2.657011e+08,0,50.0
5,thick,20,100,150,2.895082e+02,2.205092e+00,2.080777e+08,1.240977e+07,4.781876e+07,2.125049e+08,0,50.0
6,thin,20,100,150,5.602457e-07,1.133100e+00,7.298886e+08,9.572995e+06,1.372248e+08,7.390758e+08,0,50.0
7,sum,20,100,150,2.895082e+02,3.338192e+00,1.203667e+09,2.348732e+07,1.884532e+08,1.217282e+09,0,50.0